<extend name="Public:base"/>
<block name="title">修改--后台管理</block>
<block name="head_js_css"></block>
<block name="body">
<body class="childrenBody">
	<form class="layui-form" method="post">
		<div class="layui-form-item">
			<label class="layui-form-label">权限名：</label>
			<div class="layui-input-inline">
				<input class="layui-input newsAuthor"  type="text" name="title" value="{$Think.get.title}" placeholder="">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">		
				<label class="layui-form-label">权限：</label>
				<div class="layui-input-inline">
			<if condition="$Think.get.id gt 0">
				<php>$auth_rule = M('auth_rule');$one_name = $auth_rule->where('id=%d',I('id'))->getField('name');</php>
					<input class="layui-input newsAuthor" lay-verify="required" type="text" name="name" value="{$one_name}">
				<else/>
					<input class="layui-input newsAuthor" lay-verify="required" type="text" name="name" value="">
			</if>
				</div>
				
			</div>
			输入模块/控制器/方法即可 例如 Admin/Rule/index
		</div>
		<div class="layui-form-item">
		<input type="hidden" name="id" value="">
			<div class="layui-input-block">
				<input type="hidden" name="id" value='<if condition="$Think.get.id gt 0">{$Think.get.id}<else/>0</if>'>
				<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script type="text/javascript" src="/Public/admin/layui/layui.js"></script>
	<script type="text/javascript">
		layui.config({
			base : "/Public/admin/js/"
		}).use(['form','layer','jquery'],function(){
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			form.on("submit(submit)",function(data){
				var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
				setTimeout(function(){
					$.post("{:U('Rule/edit')}",data.field,function(data){
						top.layer.close(index);
						top.layer.msg(data);
						layer.closeAll("iframe");
						//刷新父页面
						parent.location.reload();
					})
				},1000);
				return false;
			})
		})
	</script>
</body>
</block>