<extend name="Public:base"/>
<block name="title">修改--后台管理</block>
<block name="head_js_css">
	<link rel="stylesheet" href="/Public/home/layui/css/layui.css">
<style>
.tux img{max-height:60px;min-height:30px;}
</style>
</block>
<block name="body">
<body class="childrenBody">
		<div class="layui-form-item">
			<label class="layui-form-label">用户头像：</label>
			<div class="tux">
				<img src="{$user_data['avatar']}">
			</div>	
		</div>
		<div class="layui-form-item" id="baocun">
			<label class="layui-form-label"></label>
				<button type="button" class="layui-btn" id="tux">
				  <i class="layui-icon">&#xe67c;</i>选择图片
				</button>
				<button class="layui-btn" id="upload">保存上传</button>
		</div>
	<form class="layui-form" method="post">
		<input type="hidden" name="avatar" id="ad_code" value="{$user_data['avatar']}">
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">管理组</label>
				<div class="layui-input-block">
				<foreach name="data" item="v">
					<input class="tuijian" type="checkbox" name="group_ids[]" value="{$v['id']}" title="{$v['title']}" <in name="v['id']" value="$group_data">checked="checked"</in>>
				</foreach>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">		
				<label class="layui-form-label">用户帐号</label>
				<div class="layui-input-inline">
					<input class="layui-input newsAuthor" lay-verify="required" type="text" name="username" placeholder="登录后台的帐号哦" value="{$user_data['username']}">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">初始密码</label>
			<div class="layui-input-inline">
				<input class="layui-input newsAuthor"  type="text" name="password" value="" placeholder="登录密码。">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">状态</label>
			<div class="layui-input-block">
				<input type="radio" name="status" value="1"  title="允许登录" <eq name="user_data['status']" value="1">checked="checked"</eq>>
				<input type="radio" name="status" value="0"  title="禁止登录" <eq name="user_data['status']" value="0">checked="checked"</eq>>
				<input type="radio" name="status" value="2" title="未验证" <eq name="user_data['status']" value="2">checked="checked"</eq>>
			</div>
		</div>
		<hr/>
            <div class="layui-form-item">
                <label class="layui-form-label">联系人：</label>
                <div class="layui-input-inline">
                  <input type="text" name="person" id="person" value="{$user_data['person']}" lay-verify="required" autocomplete="off" placeholder="请输入联系人称呼" class="layui-input">
                </div>
            </div>
			<div class="layui-form-item">
                <label class="layui-form-label">手机号码：</label>
                <div class="layui-input-inline">
                  <input type="text" name="phone" id="phone" value="{$user_data['phone']}" lay-verify="required" placeholder="请输入手机号码" autocomplete="off" class="layui-input">
                </div>
                <label class="layui-form-label">微信：</label>
                <div class="layui-input-inline">
                  <input type="text" name="weixin" value="{$user_data['weixin']}" autocomplete="off" placeholder="请输入微信" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">QQ：</label>
                <div class="layui-input-inline">
                  <input type="text" name="qq" value="{$user_data['qq']}" autocomplete="off" placeholder="请输入QQ" class="layui-input">
                </div>
                <label class="layui-form-label">电子邮箱：</label>
                <div class="layui-input-inline">
                  <input type="text" name="email" value="{$user_data['email']}" lay-verify="required" autocomplete="off" placeholder="请输入电话号码" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">联系地址：</label>
                <div class="layui-input-inline">
					<select lay-filter="province" lay-verify="required" lay-search="" name="province" id="province">
						<option selected="selected" value="">请选择省</option>
						<php>
							if(S('diqu_classid_select')){
								$diqu_classid_select = S('diqu_classid_select');
							}else{
								$diqu_classid_select = M("diqu") ->where("parentid=0")->field("id,city,parentid")->order("id asc")->select();
								S('diqu_classid_select',$diqu_classid_select,array('type'=>'file','expire'=>18000)); //缓存5个小时
							};
						</php>
						<foreach name="diqu_classid_select" item="vo">
							<option value="{$vo['id']}" <eq name="user_data['province']" value="$vo['id']">selected</eq>>{$vo["city"]}</option>
						</foreach>							
					</select>
                </div>
                <div class="layui-input-inline">
                    <select lay-filter="city" lay-verify="required" lay-search="" name="city" id="city">
					  <gt name="user_data['city']" value="0">
						<?php $city_list = get_province_list($user_data['province']);?>
						<foreach name="city_list" item="vo">
						<option value="{$vo['id']}" <if condition="$user_data['city'] eq $vo['id']">selected="selected"</if> >{$vo["city"]}</option>
						</foreach>
					  <else/>
					  <option selected="selected" value="">请选择</option>
					  </gt>
                    </select>
                </div>
					<div class="layui-input-inline">
					  <input type="text" name="address" id="address" value="{$user_data['address']}" lay-verify="" autocomplete="off" placeholder="请输入详细地址" class="layui-input">
					</div>
            </div>
		<hr/>
		<div class="layui-form-item">
		<input type="hidden" name="id" value="{$user_data['id']}">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script src="/Public/home/layui/layui.js"></script>
	<script type="text/javascript">
	layui.use(['layer', 'form' ,'jquery','laydate','upload'], function(){
	  var layer = parent.layer === undefined ? layui.layer : parent.layer
	  ,upload = layui.upload
	  ,laydate = layui.laydate
	  ,$ = layui.jquery
	  ,form = layui.form;

		upload.render({
			elem: '#tux'
			,url: "{:U('Ad/add_img')}"
			,auto: false //选择文件后不自动上传
			,method:'post' //上传接口的 HTTP 类型
			,bindAction: '#upload' //指向一个按钮触发上传
			,accept: 'images' //允许上传的文件类型
			,choose: function(obj){
			obj.preview(function(index, file, result){
			  $(".tux img").attr("src",result);
			});
			}
			,done: function(res){
				console.log(res)
				if(res.status==1){
					$("#upload").attr("class",'layui-btn layui-btn-disabled');
					$("#ad_code").val(res.src);
					$("#upload").remove();
					$('#baocun').append('<button class="layui-btn layui-btn-disabled">已保存，请编辑其他内容完成提交。</button>')
					layer.msg(res.msg);
				}else{
					layer.msg(res.error_info);
				}
			}
			,error: function(){
				layer.msg('请求异常，请稍后再试');
			}
		});
		form.on('select(province)', function(aa){
			$.ajax({
				type:"Post",
				url:"{:U('Api/Ajax/ajax_city')}",
				data:{province:aa.value},
				cache:false,
				success:function(msg){
					$("#city").html(msg)
					form.render('select');
				}
			})
		});
		form.on("submit(submit)",function(data){
				var username = $(" input[ name='username' ] ").val();
				var phone = $(" input[ name='phone' ] ").val();
				var email = $(" input[ name='email' ] ").val();
				var password = $(" input[ name='password' ] ").val();
				var status = $("input[name='status']:checked").val();
				var id = $(" input[ name='id' ] ").val();
				var avatar = $(" input[ name='avatar' ] ").val();
				
				var person = $(" input[ name='person' ] ").val();
				var weixin = $(" input[ name='weixin' ] ").val();
				var qq = $(" input[ name='qq' ] ").val();
				var province = $("select[name='province']").val();
				var city = $("#city option:selected ").val();
				var address = $(" input[ name='address' ]").val();
				var _list = {};
				$('input[type="checkbox"][name="group_ids[]"]:checked').each(
				function (i) {
					_list["selectedIDs[" + i + "]"] = $(this).val();
				});
			var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
			setTimeout(function(){
				$.post("{:U('Rule/edit_admin')}",{group_ids:_list,username:username,phone:phone,email:email,password:password,status:status,id:id,avatar:avatar,person:person,weixin:weixin,qq:qq,province:province,city:city,address:address},function(data){
					top.layer.close(index);
					top.layer.msg(data);
					layer.closeAll("iframe");
					//刷新父页面
					parent.location.reload();
				})
			},1000);
			return false;
		});
		
	});
	</script>
</body>
</block>