<extend name="Public:base"/>
<block name="title">分配权限--后台管理</block>
<block name="head_js_css">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="/Public/admin/css/news.css" media="all" />
</block>
<block name="body">
<body class="childrenBody">
	<h1 style="text-left: center;font-size: 22px;"><a href="{:U('Admin/Rule/group')}">返回</a></h1>
	<h1 style="text-align: center;font-size: 22px;">为<span style="color:red">{$group_data['title']}</span>分配权限</h1>
	<div class="layui-form news_list">
	<form class="layui-form" method="post">
	  	<table class="layui-table">
		    <colgroup>
				<col width="12%">
				<col>
		    </colgroup>
		    <thead>
				<tr>
					<th><input type="checkbox" name="" lay-skin="primary" lay-filter="allChoose" id="allChoose"></th>
					<th>操作</th>
				</tr> 
		    </thead>
			<input type="hidden" name="id" value="{$group_data['id']}">
			<tbody class="news_content">
				<foreach name="rule_data" item="v">
					<empty name="v['_data']">
						<tr class="b-group">
							<td>
								{$v['title']}
								<input type="checkbox" name="rule_ids[]" value="{$v['id']}" lay-skin="primary" <if condition="in_array($v['id'],$group_data['rules'])">checked="checked"</if>>
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary" onclick="checkAll(this)"><i class="layui-icon"></i>
								</div>
							</td>
							<td></td>
						</tr>
						<else/>
						<tr class="b-group">
							<td>
								{$v['title']}
								<input type="checkbox" name="rule_ids[]" value="{$v['id']}" lay-skin="primary" lay-filter="choose" <if condition="in_array($v['id'],$group_data['rules'])">checked="checked"</if>>
								<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i>
								</div>
							</td>
							<td>
								<foreach name="v['_data']" item="n">
									<table class="layui-table">
										<colgroup>
											<col width="15%">
											<col>
										</colgroup>
										<tr class="b-group">
											<td>
												{$n['title']}
												<input type="checkbox" name="rule_ids[]" value="{$n['id']}" lay-skin="primary" lay-filter="choose" <if condition="in_array($n['id'],$group_data['rules'])">checked="checked"</if>>
												<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i>
												</div>
											</td>
											<td style="text-align:left;">
												<notempty name="n['_data']">
													<volist name="n['_data']" id="c">
														{$c['title']}
														<input type="checkbox" name="rule_ids[]" value="{$c['id']}" lay-skin="primary" lay-filter="choose" <if condition="in_array($c['id'],$group_data['rules'])">checked="checked"</if>>&nbsp;&nbsp;&nbsp;&nbsp;
														<div class="layui-unselect layui-form-checkbox" lay-skin="primary"><i class="layui-icon"></i>
														</div>
													</volist>
												</notempty>
											</td>
										</tr>
									</table>
								</foreach>
							</td>
						</tr>
					</empty>
				</foreach>
				<tr>
					<td>
					</td>
					<td style="text-align:left;">
					<button class="layui-btn" lay-submit="">立即提交</button>
					</td>
				</tr>
			</tbody>
		</table>
	</form>
	</div>
	<div id="page"></div>
	<script type="text/javascript" src="/Public/admin/layui/layui.js"></script>
	<script>
		function checkAll(obj){
			$(obj).parents('.b-group').eq(0).find('tbody input[type="checkbox"]:not([name="show"])').prop('checked', $(obj).prop('checked'));
		}
	</script>
	<script type="text/javascript">
		layui.config({
			base : "/Public/admin/js/"
		}).use(['form','layer','jquery'],function(){
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
				
			//全选
			form.on('checkbox(allChoose)', function(data){
			console.log(data.elem.checked);
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				child.each(function(index, item){
					item.checked = data.elem.checked;
				});
				form.render('checkbox');
			});
			
			//通过判断文章是否全部选中来确定全选按钮是否选中
			form.on("checkbox(choose)",function(data){
				var child = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"])');
				var childChecked = $(data.elem).parents('table').find('tbody input[type="checkbox"]:not([name="show"]):checked')
				if(childChecked.length == child.length){
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = true;
				}else{
					$(data.elem).parents('table').find('thead input#allChoose').get(0).checked = false;
				}
				form.render('checkbox');
			})
		})
	</script>
</body>
</block>