	<style type="text/css">
	.Nnav{background-color: #{:systemCache('color.color_subject')};}
	
	
	.T_nav .search .a1{border:2px solid #{:systemCache('color.color_subject')};}
	.T_nav .search .a2{background-color: #{:systemCache('color.color_subject')};}
	.T_nav .btn02{background-color: #{:systemCache('color.color_subject')};}
	
	.ny_cen .left .a1tit{background-color: #{:systemCache('color.color_subject')};}
	.ny_cen .left .a1tit p{color: #ffffff;}
	.ny_cen .left .type a.on{background-color:#{:systemCache('color.color_subject')};border-bottom: 1px solid #{:systemCache('color.color_subject')};}
	.ny_cen .left .type a:hover{background-color:#{:systemCache('color.color_ny_hover_on')};border-bottom: 1px solid #{:systemCache('color.color_ny_hover_on')};}
	.ny_cen .left .news h3{color: #{:systemCache('color.color_subject')};}
	
	
	.ny_cen .left .cont h3{color: #{:systemCache('color.color_subject')};}
	.ny_cen .left .cont .tel{background: no-repeat 35px center #{:systemCache('color.color_subject')};}
	
	.in_a5 .w12 .layui-tab .layui-tab-title .layui-this:after{border-top:2px solid #{:systemCache('color.color_subject')};}
	
	
	.layui-bg-blue {
		background-color: #{:systemCache('color.color_subject')}!important;
	}
	.layui-nav .layui-nav-child dd.layui-this a,.layui-nav-child dd.layui-this {
		background-color: #{:systemCache('color.color_ny_hover_on')};
	}
	.layui-bg-blue .layui-nav-bar,.layui-bg-blue .layui-nav-itemed:after,.layui-bg-blue .layui-this:after {
		background-color: #{:systemCache('color.color_ny_hover_on')};
	}
	.layui-laypage a:hover {
		color: #{:systemCache('color.color_subject')}
	}
	.layui-laypage .layui-laypage-curr .layui-laypage-em {
		background-color: #{:systemCache('color.color_ny_hover_on')};
	}
	.layui-breadcrumb a:hover {
		color: #{:systemCache('color.color_ny_hover_on')}!important
	}

	</style>
	
	
	