<extend name="Public:base"/>
<block name="title">编辑资讯--后台管理</block>
<block name="head_js_css">
	<link rel="stylesheet" href="/Public/admin/layui/css/layui_ueditor.css" media="all" />
</block>
<block name="body">
<body class="childrenBody">
	<form class="layui-form" method="post">
		<div class="layui-form-item">
			<label class="layui-form-label">文章标题</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input newsName" name="title" value="{$one['title']}" lay-verify="required" placeholder="请输入文章标题">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">所属栏目</label>
				<div class="layui-input-inline">
					<select name="type" class="newsLook" lay-verify="type">
				        <option value="0">请选择</option>
						<for start="1" end="C('NEWS_TYPE')[count]">
				        <option value="{$i}" <eq name="one['type']" value="$i">selected</eq>>{:C('NEWS_TYPE')[$i][0]}</option>
						</for>
				    </select>
				</div>
			</div>
			<div class="layui-inline">		
				<label class="layui-form-label">文章作者</label>
				<php>$admin_users = M('admin_users')->where('id=%d',$one['author'])->field('id,username')->find();</php>
				<div class="layui-input-inline">
					<input type="text" class="layui-input newsAuthor" value="{$admin_users['username']}" readonly="readonly" placeholder="请输入文章作者">
					<input type="hidden" class="layui-input newsAuthor" name="author" value="{$admin_users['id']}">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">页面关键字</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input" name="keywords" value="{$one['keywords']}" placeholder="请输入文章关键字">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">文章内容</label>
			<div class="layui-input-block">
				<ueditor name="content" content="{$one['content']|htmlspecialchars_decode}" />
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<input type="hidden" class="layui-input newsAuthor" name="news_id" value="{$one['news_id']}">
				<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script type="text/javascript" src="/Public/admin/layui/layui.js"></script>
	<script type="text/javascript">
		layui.config({
			base : "/Public/admin/js/"
		}).use(['form','layer','jquery'],function(){
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				$ = layui.jquery;
			form.on("submit(submit)",function(data){
				var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
				setTimeout(function(){
					$.post("{:U('News/news_edit')}",data.field,function(data){
						if(data==0){
							top.layer.close(index);
							top.layer.msg('请选择需要发布的栏目');
						}else{
							top.layer.close(index);
							top.layer.msg(data);
							layer.closeAll("iframe");
							//刷新父页面
							parent.location.reload();
						}
					})
				},1000);
				return false;
			})
			form.verify({
				type: function(data){  
				  if(data==0){  
					return '请选择需要发布的栏目';  
				  }  
				},
			});
			
		})
	</script>
</body>
</block>