<extend name="Public:home_base"/>
<block name="title">资质需求</block>
<block name="keywords">{:systemCache('web_info.store_keyword')}</block>
<block name="description">{:systemCache('web_info.store_desc')}</block>
<block name="js_css"></block>
<block name="content">
		<include file="Public:Other_top_ad"/>
		<div class="ny_cen">
			<div class="left">
				<div class="a1tit">
					<h3>资质信息</h3>
					<p>专业为企业解决问题</p>
				</div>
				<div class="type">
					<a href="/zizhi/r0t0c0.html" class="on">资质需求</a>
				</div>
				<div class="news">
					<h3>新闻动态</h3>
					<ul>
					<foreach name="about_news" item="v">
						<li><a href="/info/{:idEncode($v['news_id'])}.html" target="_blank">{:getSubstr($v['title'],0,18)}</a></li>
					</foreach>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="tit">
					<h3>资质需求</h3>
					<p>当前位置：首页 > 资质需求</p>
				</div>
				
				<div class="layui-form">
				  <table class="layui-table" lay-size="lg">
				    <colgroup>
				      <col width="40%">
				      <col width="20%">
				      <col width="20%">
				      <col width="20%">
				    </colgroup>
				    <thead>
				      <tr>
				        <th>信息标题</th>
				        <th>发布者</th>
				        <th>地区</th>
				        <th>发布时间</th>
				      </tr> 
				    </thead>
				    <tbody>
					<foreach name='data' item='v'><php>$one_user = M('admin_users')->field('person')->where(array('id'=>$v['user_id']))->find();</php>
				      <tr>
						<td><a href="/zizhi/{:idEncode($v['id'])}.html" target="_blank">{:str_replace(I('get.wd'),'<font style="color:red;">'.I('get.wd').'</font>',$v['title'])}</a></td>
				        <td>{$one_user['person']}</td>
					    <td>{:get_diqu_name($v['province'])}-{:get_diqu_name($v['city'])}</td>
					    <td>{:word_time($v['addtime'])}</td>
				      </tr>
					</foreach>
				    </tbody>
				  </table>
				</div>
				
				<div class="zpage">{$page}</div>
			</div>
		</div>
</block>
<block name="js"></block>