<extend name="Public:home_base"/>
<block name="title">{$one['title']}</block>
<block name="keywords">{:systemCache('web_info.store_keyword')}</block>
<block name="description">{:systemCache('web_info.store_desc')}</block>
<block name="js_css"></block>
<block name="content">
		<include file="Public:Other_top_ad"/>
		<div class="ny_cen">
			<div class="left">
				<div class="a1tit">
					<h3>资质信息</h3>
					<p>专业为企业解决问题</p>
				</div>
				<div class="type">
					<a href="/zizhi/r0t0c0.html" class="on">资质需求</a>
				</div>
				
				<div class="cont">
					<h3>联系信息</h3>
					<p class="tel">{$user['phone']}</p>
					<p class="lx">
						{$user['phone']}<br />
						{$user['qq']}<br />
						{$user['weixin']}<br />
						{$user['email']}<br />
						{:get_diqu_name($user['province'])} - {:get_diqu_name($user['city'])}
					</p>
				</div>
				<div class="news">
					<h3>相关推荐</h3>
					<ul>
					<foreach name="zz_xgzytj" item="v">
						<li><a href="/zizhi/{:idEncode($v['id'])}.html">{:getSubstr($v['title'],0,16)}</a></li>
					</foreach>
					</ul>
				</div>
			</div>
			<div class="right">
				<div class="tit">
					<h3>{:getSubstr($one['title'],0,16)}</h3>
					<p>当前位置：首页 > 资质需求</p>
				</div>
				<div class="jwcont">
					<h1>{$one['title']}</h1>
					<p class="tt">点击次数：{$one['browser']}次　　　　更新时间：{:word_time($one['addtime'])}</p>
					<div class="jwslist">
						<div class="jws1">资质信息</div>
						<div class="jws2">
							<ul>
								<li><span>资质类型：</span><a href="/zizhi/r0t{$one['classid']}c0.html">{$name_classid}</a>-<a href="/zizhi/r0t{$one['cid']}c0.html">{$name_cid}</a></li>
								<li><span>资质级别：</span><a href="/zizhi/r0t{$one['classid']}c0.html">{:get_zizhi_menu_name($one['cid_dj'])}</a></li>
								<li><span>地区：</span><a href="/zizhi/r0t0c{$one['province']}.html">{$name_province}</a>-<a href="/zizhi/r0t0c{$one['city']}.html">{$name_city}</a></li>
								<li><span>代办价格：</span>{:C('PRICE_TYPE')[$one['price']]}</li>
							</ul>

						</div>
						<div class="jws1">详细说明</div>
						<div class="jws3"><?php echo str_replace("\n","<br>",$one['content']);?></div>
						<div class="jws1">联系信息</div>
						<div class="jws4">
							<li><span>发布者：</span>{$user['person']}</li>
							<li><span>电话：</span>{$user['phone']}</li>
							<li><span>QQ：</span>{$user['qq']}</li>
						</div>
					</div>
				</div>
			</div>
		</div>
</block>
<block name="js"></block>