<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>文章添加--后台管理</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="format-detection" content="telephone=no">
	<link rel="stylesheet" href="/Public/home/layui/css/layui.css">
</head>
<style>
.tux img{max-width:225px;max-height:165px;}
.layui-form-select dl{z-index: 9999;}
</style>
<body class="childrenBody">
	<div class="layui-form-item"></div>
	<div class="layui-form-item">
		<label class="layui-form-label">缩 略 图：</label>
		<div class="tux">
			<img src="{$one['picname']}">
		</div>	
	</div>
	<div class="layui-form-item" id="baocun">
		<label class="layui-form-label"></label>
			<button type="button" class="layui-btn" id="tux">
			  <i class="layui-icon">&#xe67c;</i>选择图片
			</button>
			<button class="layui-btn" id="upload">保存上传</button>
	</div>
	<form class="layui-form">
		<input type="hidden" name="picname" id="picname" value="">
		<div class="layui-form-item">
			<label class="layui-form-label">文章标题</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input newsName" name="title" lay-verify="required" placeholder="请输入文章标题">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">文章网址seo</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input newsName" name="url" lay-verify="required" placeholder="请输入利于seo的网址，例如：http://{:$_SERVER['HTTP_HOST']}/help/feedback.html 只需要填写这段网址里面的（feedback）即可  ">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">所属栏目</label>
				<div class="layui-input-inline">
					<select name="type" class="newsLook" lay-verify="required">
				        <option value="">请选择</option>
						<for start="1" end="C('HOME_HELP')[count]">
				        <option value="{$i}" >{:C('HOME_HELP')[$i]}</option>
						</for>
				    </select>
				</div>
			</div>
			<div class="layui-inline">		
				<label class="layui-form-label">文章作者</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input newsAuthor" value="{$_SESSION['admin_user']['username']}" readonly="readonly" placeholder="请输入文章作者">
					<input type="hidden" class="layui-input newsAuthor" name="author" value="{$_SESSION['admin_user']['id']}">
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">简略内容</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input newsName" name="shortcontent"  placeholder="文章内容的简略介绍">
			</div>
		</div>
		<div class="layui-form-item">
			<label class="layui-form-label">文章内容</label>
			<div class="layui-input-block">
				<ueditor name="content" content="" />
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
<script src="/Public/home/layui/layui.js"></script>
<script type="text/javascript">
layui.use(['layer', 'form' ,'jquery','upload'], function(){
  var layer = parent.layer === undefined ? layui.layer : parent.layer
  ,upload = layui.upload
  ,$ = layui.jquery
  ,form = layui.form;
	upload.render({
		elem: '#tux'
		,url: "{:U('Img/about_img')}"
		,auto: false //选择文件后不自动上传
		,method:'post' //上传接口的 HTTP 类型
		,bindAction: '#upload' //指向一个按钮触发上传
		,accept: 'images' //允许上传的文件类型
		,choose: function(obj){
		obj.preview(function(index, file, result){
		  $(".tux img").attr("src",result);
		});
		}
		,done: function(res){
			console.log(res)
			if(res.status==1){
				$("#upload").attr("class",'layui-btn layui-btn-disabled');
				$("#picname").val(res.src);
				$("#upload").remove();
				$('#baocun').append('<button class="layui-btn layui-btn-disabled">已保存，请编辑其他内容完成提交。</button>')
				layer.msg(res.msg);
			}else{
				layer.msg(res.error_info);
			}
		}
		,error: function(){
			layer.msg('请求异常，请稍后再试');
		}
	});
	form.on("submit(submit)",function(data){
		var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
		setTimeout(function(){
			$.post("{:U('Admin/About/About_add')}",data.field,function(data){
				if(data==0){
					top.layer.close(index);
					top.layer.msg('请选择需要发布的栏目');
				}else{
					top.layer.close(index);
					top.layer.msg(data);
					if(data == '添加成功'){
					layer.closeAll("iframe");
					//刷新父页面
					parent.location.reload();
					}
				}
			})
		},1000);
		return false;
	});
});
</script>
</body>
</html>