<extend name="Public:base"/>
<block name="title">编辑广告--后台管理</block>
<block name="head_js_css">
	<link rel="stylesheet" href="/Public/home/layui/css/layui.css">
<style>
.tux img{max-height:60px;min-height:30px;}
</style>
</block>
<block name="body">
<body class="childrenBody">
		<div class="layui-form-item">
			<label class="layui-form-label">广告图片：</label>
			<div class="tux">
				<img src="{$one['ad_code']}">
			</div>	
		</div>
		<div class="layui-form-item" id="baocun">
			<label class="layui-form-label"></label>
				<button type="button" class="layui-btn" id="tux">
				  <i class="layui-icon">&#xe67c;</i>选择图片
				</button>
				<button class="layui-btn" id="upload">保存上传</button>
		</div>
	<form class="layui-form">
		<input type="hidden" name="ad_code" id="ad_code" value="{$one['ad_code']}">
		<div class="layui-form-item">
			<label class="layui-form-label">广告链接</label>
			<div class="layui-input-block">
				<input type="text" class="layui-input newsName" name="ad_link" id="ad_link" value="{$one['ad_link']}" lay-verify="required" placeholder="广告链接。如果添加非本站链接，必须在前面加【http://】">
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">广告位置</label>
				<div class="layui-input-inline">
					<select name="pid" id="pid" lay-verify="required" class="newsLook">
				        <!-- <option value="" disabled>请选择</option> -->
						<for start="1" end="C('AD_POSITION')[count]">
				        <option value="{$i}" disabled <eq name="one['pid']" value="$i">selected</eq>>{:C('AD_POSITION')[$i][0]}</option>
						</for>
				    </select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">打开方式</label>
				<div class="layui-input-inline">
					<select name="target" id="target" class="newsLook">
				        <option value="1" <eq name="one['target']" value="1">selected</eq>>{:C('LINK_TYPE')[1][0]}</option>
				        <option value="2" <eq name="one['target']" value="2">selected</eq>>{:C('LINK_TYPE')[2][0]}</option>
				    </select>
				</div>
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-inline">
				<label class="layui-form-label">是否显示</label>
				<div class="layui-input-inline">
					<select name="show" id="show" class="newsLook">
				        <option value="1" <eq name="one['show']" value="1">selected</eq>>{:C('YN_TYPE')[0]}</option>
				        <option value="2" <eq name="one['show']" value="2">selected</eq>>{:C('YN_TYPE')[1]}</option>
				    </select>
				</div>
			</div>
		</div>
		<input type="hidden" name="ad_id" value="{$one['ad_id']}">
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" lay-submit="" lay-filter="submit">立即提交</button>
				<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		</div>
	</form>
	<script src="/Public/home/layui/layui.js"></script>
<script type="text/javascript">
layui.use(['layer', 'form' ,'jquery','laydate','upload'], function(){
  var layer = parent.layer === undefined ? layui.layer : parent.layer
  ,upload = layui.upload
  ,laydate = layui.laydate
  
  ,$ = layui.jquery
  ,form = layui.form;

	upload.render({
		elem: '#tux'
		,url: "{:U('Ad/add_img')}"
		,auto: false //选择文件后不自动上传
		,method:'post' //上传接口的 HTTP 类型
		,bindAction: '#upload' //指向一个按钮触发上传
		,accept: 'images' //允许上传的文件类型
		,choose: function(obj){
		obj.preview(function(index, file, result){
		  $(".tux img").attr("src",result);
		});
		}
		,done: function(res){
			console.log(res)
			if(res.status==1){
				$("#upload").attr("class",'layui-btn layui-btn-disabled');
				$("#ad_code").val(res.src);
				$("#upload").remove();
				$('#baocun').append('<button class="layui-btn layui-btn-disabled">已保存，请编辑其他内容完成提交。</button>')
				layer.msg(res.msg);
			}else{
				layer.msg(res.error_info);
			}
		}
		,error: function(){
			layer.msg('请求异常，请稍后再试');
		}
	});
	
	form.on("submit(submit)",function(data){
		var ad_code = $("#ad_code").val();
		if(ad_code==''){
			layer.msg('请选择图片，点击保存上传再提交');
			return false;
		}
		var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
		setTimeout(function(){
			$.post("{:U('Ad/Ad_edit')}",data.field,function(data){
			console.log(data)
				if(data.status==1){
					top.layer.close(index);
					top.layer.msg(data.msg);
					layer.closeAll("iframe");
					//刷新父页面
					parent.location.reload();
				}else{
					top.layer.close(index);
					layer.msg(data.msg);
				}
			})
		},1000);
		return false;
	});
	
	
});
</script>
</body>
</block>