<extend name="Public:base"/>
<block name="title">编辑广告--后台管理</block>
<block name="head_js_css">
	<link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
	<link rel="stylesheet" href="/Public/admin/css/news.css" media="all" />
</block>
<block name="body">
<body class="childrenBody">
	<blockquote class="layui-elem-quote layui-quote-nm">
		栏目筛选：
		<span class="layui-breadcrumb" lay-separator="|">
		  <a href="{:U('Ad/ad_list')}"><font <in name="Think.get.pid" value=",0">style="color:red;"</in>>全部</font></a></a>
		  <for start="1" end="C('AD_POSITION')[count]">
		  <a href="{:U('Ad/ad_list',array('pid'=>$i))}"><font <eq name="Think.get.pid" value="$i">style="color:red;"</eq>>{:C('AD_POSITION')[$i][0]}</font></a>
		  </for>
		</span>
	</blockquote>
	<blockquote class="layui-elem-quote news_search">
		<form class="layui-form" id="form" method="post" action="{:U('Ad/ad_list',array('pid'=>I('pid',0,'intval')))}">
			<div class="layui-inline">
				<div class="layui-input-inline">
					<input type="text" value="{:I('id')}" name="id" placeholder="请输入ID" class="layui-input search_input">
				</div>
				<button class="layui-btn search_btn" lay-submit="">立即提交</button>
			</div>
			<div class="layui-inline">
				<a class="layui-btn layui-btn-normal Ad_add">添加广告</a>
			</div>
			<div class="layui-inline">
				<div class="layui-form-mid layui-word-aux">为了友好显示，每个广告位置的轮播，最多只能添加三个。。。显示状态为否，就不能在前台展示出来。为了防止出错，不能修改广告位置。</div>
			</div>
		</form>
	</blockquote>
	<div class="layui-form ad_list">
	  	<table class="layui-table">
		    <colgroup>
				<col width="100">
				<col width="20%">
				<col>
				<col width="9%">
				<col width="9%">
				<col width="9%">
				<col width="200">
				<col width="15%">
		    </colgroup>
		    <thead>
				<tr>
					<th>ID</th>
					<th>广告位置</th>
					<th>广告链接</th>
					<th>广告图片</th>
					<th>新窗口打开</th>
					<th>显示</th>
					<th>操作</th>
				</tr> 
		    </thead>
			<tbody class="news_content">
			<foreach name="data" item="v">
				<tr>
					<th>{$v['ad_id']}</th>
					<th><a href="{:U('Ad/ad_list',array('pid'=>$v['pid']))}">{:C('AD_POSITION')[$v['pid']][0]}</a></th>
					<th>{$v['ad_link']}</th>
					<th><a href="{$v['ad_code']}" target="_blank"><img style="width:100px;max-height:50px;float:right;" src="{$v['ad_code']}" /></a></th>
					<td>
						<input type="checkbox" name="target" listId="{$v['ad_id']}" lay-skin="switch" lay-text="是|否" lay-filter="target" <eq name="v['target']" value="1">checked=""</eq>>
						<div class="layui-unselect layui-form-switch" lay-skin="_switch"><em><eq name="v['target']" value="1">是<else/>否</eq></em><i></i>
						</div>
					</td>
					<td>
						<input type="checkbox" name="show" listId="{$v['ad_id']}" lay-skin="switch" lay-text="是|否" lay-filter="show" <eq name="v['show']" value="1">checked=""</eq>>
						<div class="layui-unselect layui-form-switch" lay-skin="_switch"><em><eq name="v['show']" value="1">是<else/>否</eq></em><i></i>
						</div>
					</td>
					<td><a class="layui-btn layui-btn-mini Ad_edit" listId="{$v['ad_id']}"><i class="iconfont icon-edit"></i> 编辑</a><a class="layui-btn layui-btn-danger layui-btn-mini news_del" listId="{$v['ad_id']}"><i class="layui-icon">&#xe640;</i> 删除</a>
					</td>
				</tr>
			</foreach>
			</tbody>
		</table>
	</div>
	<div id="page">{$page}</div>
	
	<script type="text/javascript" src="/Public/admin/layui/layui.js"></script>
	<script type="text/javascript">
		layui.config({
			base : "/Public/admin/js/"
		}).use(['form','layer','jquery','laypage','element'],function(){
			var form = layui.form(),
				layer = parent.layer === undefined ? layui.layer : parent.layer,
				laypage = layui.laypage,
				element = layui.element,
				$ = layui.jquery;

					$("body").on("click",".Ad_edit",function(){  //编辑
						var listId = $(this).attr("listId");
						var index = layui.layer.open({
							title : "编辑信息",
							type : 2,
							content : "/index.php/Admin/Ad/Ad_edit/id/"+listId,
							success : function(layero, index){
								setTimeout(function(){
									layui.layer.tips('点击此处返回列表', '.layui-layer-setwin .layui-layer-close', {
										tips: 3
									});
								},500)
							}
						})
						//改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
						$(window).resize(function(){
							layui.layer.full(index);
						})
						layui.layer.full(index);
					})

			//添加文章
			//改变窗口大小时，重置弹窗的高度，防止超出可视区域（如F12调出debug的操作）
			$(window).one("resize",function(){
				$(".Ad_add").click(function(){
					var index = layui.layer.open({
						title : "添加广告",
						type : 2,
						content : "{:U('Admin/Ad/Ad_add',array('pid'=>I('pid',0,'intval')))}",
						success : function(layero, index){
							setTimeout(function(){
								layui.layer.tips('点击此处返回文章列表', '.layui-layer-setwin .layui-layer-close', {
									tips: 3
								});
							},500)
						}
					})			
					layui.layer.full(index);
				})
			}).resize();
			
			//打开方式
			form.on('switch(target)', function(data){
				var listId=$(this).attr('listId');
				var index = layer.msg('修改中，请稍候',{icon: 16,time:false,shade:0.8});
				data.elem.checked==true ? target = 1 : target = 2 ;
				setTimeout(function(){
					$.post("{:U('Ad/edit_Ad_status')}",{id:listId,target:target},function(data){
						top.layer.close(index);
						top.layer.msg(data);
					})
					layer.close(index);
				},500);
			})
			
			//是否展示
			form.on('switch(show)', function(data){
				var listId=$(this).attr('listId');
				var index = layer.msg('修改中，请稍候',{icon: 16,time:false,shade:0.8});
				data.elem.checked==true ? show = 1 : show = 2 ;
				setTimeout(function(){
					$.post("{:U('Ad/edit_Ad_status')}",{id:listId,show:show},function(data){
						top.layer.close(index);
						top.layer.msg(data);
					})
					layer.close(index);
				},500);
			})
			
			//删除
			$("body").on("click",".news_del",function(){  
				var listId=$(this).attr('listId');
				layer.confirm('确定删除此信息？',{icon:3, title:'提示信息'},function(data){
						var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
						setTimeout(function(){
							$.post("{:U('Ad/delete')}",{id:listId},function(data){
								top.layer.close(index);
								top.layer.msg(data);
								//刷新当前页面
								window.location.reload();
							})
						},1000);
				});
			})

		})
	</script>
</body>
</block>