<?xml version="1.0" ?>
<rules>
	<clear/>
	<rule name="已导入的规则 1_rewrite">
		<match ignoreCase="false" url="^zp/r(\d+)t(\d+)c(\d+).html"/>
		<action type="Rewrite" url="zhaopin/index/range/{R:1}/tid/{R:2}/city/{R:3}"/>
	</rule>
	<rule name="已导入的规则 2_rewrite">
		<match ignoreCase="false" url="^zp/r(\d+)t(\d+)c(\d+)/(\d+).html"/>
		<action type="Rewrite" url="zhaopin/index/range/{R:1}/tid/{R:2}/city/{R:3}/p/{R:4}"/>
	</rule>
	<rule name="已导入的规则 3_rewrite">
		<match ignoreCase="false" url="^zp/([^/]+).html"/>
		<action type="Rewrite" url="zhaopin/info_show/id/{R:1}"/>
	</rule>
	<rule name="已导入的规则 4_rewrite">
		<match ignoreCase="false" url="^zizhi/r(\d+)t(\d+)c(\d+).html"/>
		<action type="Rewrite" url="zizhi/index/range/{R:1}/tid/{R:2}/city/{R:3}"/>
	</rule>
	<rule name="已导入的规则 5_rewrite">
		<match ignoreCase="false" url="^zizhi/r(\d+)t(\d+)c(\d+)/(\d+).html"/>
		<action type="Rewrite" url="zizhi/index/range/{R:1}/tid/{R:2}/city/{R:3}/p/{R:4}"/>
	</rule>
	<rule name="已导入的规则 6_rewrite">
		<match ignoreCase="false" url="^zizhi/([^/]+).html"/>
		<action type="Rewrite" url="zizhi/info_show/id/{R:1}"/>
	</rule>
	<rule name="已导入的规则 7_rewrite">
		<match ignoreCase="false" url="^resume/r(\d+)t(\d+)c(\d+).html"/>
		<action type="Rewrite" url="resume/index/range/{R:1}/tid/{R:2}/city/{R:3}"/>
	</rule>
	<rule name="已导入的规则 8_rewrite">
		<match ignoreCase="false" url="^resume/r(\d+)t(\d+)c(\d+)/(\d+).html"/>
		<action type="Rewrite" url="resume/index/range/{R:1}/tid/{R:2}/city/{R:3}/p/{R:4}"/>
	</rule>
	<rule name="已导入的规则 9_rewrite">
		<match ignoreCase="false" url="^resume/([^/]+).html"/>
		<action type="Rewrite" url="resume/info_show/id/{R:1}"/>
	</rule>
	<rule name="已导入的规则 10_rewrite">
		<match ignoreCase="false" url="^news.html"/>
		<action type="Rewrite" url="news/index"/>
	</rule>
	<rule name="已导入的规则 11_rewrite">
		<match ignoreCase="false" url="^news/(\d+).html"/>
		<action type="Rewrite" url="news/index/p/{R:1}"/>
	</rule>
	<rule name="已导入的规则 12_rewrite">
		<match ignoreCase="false" url="^news/([^/]+).html"/>
		<action type="Rewrite" url="news/index/type/{R:1}"/>
	</rule>
	<rule name="已导入的规则 13_rewrite">
		<match ignoreCase="false" url="^news/([^/]+)/(\d+).html"/>
		<action type="Rewrite" url="news/index/type/{R:1}/p/{R:2}"/>
	</rule>
	<rule name="已导入的规则 14_rewrite">
		<match ignoreCase="false" url="^info/([^/]+).html"/>
		<action type="Rewrite" url="news/info_show/id/{R:1}"/>
	</rule>
	<rule name="已导入的规则 15_rewrite">
		<match ignoreCase="false" url="^help/([^/]+).html"/>
		<action appendQueryString="false" type="Rewrite" url="/about/info_show?id={R:1}"/>
	</rule>
	<rule name="已导入的规则 16_rewrite" stopProcessing="true">
		<match ignoreCase="false" url="^(.*)$"/>
		<conditions logicalGrouping="MatchAll">
			<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
			<add ignoreCase="false" input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
		</conditions>
		<action appendQueryString="true" type="Rewrite" url="index.php/{R:1}"/>
	</rule>
</rules>
